<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <queries><intent><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent></queries>
    <application android:allowBackup="false" android:fullBackupContent="false" android:dataExtractionRules="@xml/data_extraction_rules" android:label="拾光主题" android:icon="@drawable/brand_icon" android:roundIcon="@drawable/brand_icon" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTask" android:theme="@style/LaunchTheme">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
            <intent-filter><action android:name="android.intent.action.VIEW"/><category android:name="android.intent.category.DEFAULT"/><category android:name="android.intent.category.BROWSABLE"/><data android:mimeType="application/x-ltheme"/><data android:mimeType="application/zip"/><data android:scheme="content"/></intent-filter>
        </activity>
        <activity android:name=".ThemeDetailActivity" android:exported="false"/>
        <activity android:name=".ThemeResultActivity" android:exported="false"/>
        <activity android:name=".ThemeIconsActivity" android:exported="false"/>
        <activity android:name=".SettingsActivity" android:exported="false"/>
        <activity android:name=".WidgetConfigurationActivity" android:exported="true"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/></intent-filter></activity>
        <receiver android:name=".WidgetPinnedReceiver" android:exported="false"/>
        <receiver android:name=".ShortcutPinnedReceiver" android:exported="false"/>
        <receiver android:name=".ClockWidget" android:exported="false" android:label="拾光时钟 2×2">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/><action android:name="android.intent.action.TIME_SET"/><action android:name="android.intent.action.TIMEZONE_CHANGED"/><action android:name="android.intent.action.DATE_CHANGED"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/clock_widget"/>
        </receiver>        <receiver android:name=".ClockWideWidget" android:exported="false" android:label="拾光时钟 4×2">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/><action android:name="android.intent.action.TIME_SET"/><action android:name="android.intent.action.TIMEZONE_CHANGED"/><action android:name="android.intent.action.DATE_CHANGED"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/clock_wide_widget"/>
        </receiver>        <receiver android:name=".DateWidget" android:exported="false" android:label="拾光日期 2×2">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/><action android:name="android.intent.action.TIME_SET"/><action android:name="android.intent.action.TIMEZONE_CHANGED"/><action android:name="android.intent.action.DATE_CHANGED"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/date_widget"/>
        </receiver>        <receiver android:name=".DateWideWidget" android:exported="false" android:label="拾光日期 4×2">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/><action android:name="android.intent.action.TIME_SET"/><action android:name="android.intent.action.TIMEZONE_CHANGED"/><action android:name="android.intent.action.DATE_CHANGED"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/date_wide_widget"/>
        </receiver>        <receiver android:name=".PhotoWidget" android:exported="false" android:label="拾光照片 2×2">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/><action android:name="android.intent.action.TIME_SET"/><action android:name="android.intent.action.TIMEZONE_CHANGED"/><action android:name="android.intent.action.DATE_CHANGED"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/photo_widget"/>
        </receiver>        <receiver android:name=".PhotoWideWidget" android:exported="false" android:label="拾光照片 4×2">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/><action android:name="android.intent.action.TIME_SET"/><action android:name="android.intent.action.TIMEZONE_CHANGED"/><action android:name="android.intent.action.DATE_CHANGED"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/photo_wide_widget"/>
        </receiver>        <receiver android:name=".QuoteWidget" android:exported="false" android:label="拾光文案 2×2">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/><action android:name="android.intent.action.TIME_SET"/><action android:name="android.intent.action.TIMEZONE_CHANGED"/><action android:name="android.intent.action.DATE_CHANGED"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/quote_widget"/>
        </receiver>        <receiver android:name=".QuoteWideWidget" android:exported="false" android:label="拾光文案 4×2">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/><action android:name="android.intent.action.TIME_SET"/><action android:name="android.intent.action.TIMEZONE_CHANGED"/><action android:name="android.intent.action.DATE_CHANGED"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/quote_wide_widget"/>
        </receiver>
    </application>
</manifest>